{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <form method="post" action="" role="form">
        {% csrf_token %}
        {{ form.id }}

        <div class="columns is-centered">
            <div class="column is-half">
                <div class="field">
                    <label class="label">Old Password</label>
                    <div class="control">
                        <input class="input" type="password" name="old_password" value="{{ form.old_password.value }}">
                    </div>
                    {% if form.old_password.errors %}
                        <p class="help is-danger">{{ form.old_password.errors.0 }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">New Password</label>
                    <div class="control">
                        <input class="input" type="password" name="new_password" value="{{ form.new_password.value }}">
                    </div>
                    {% if form.new_password.errors %}
                        <p class="help is-danger">{{ form.new_password.errors.0 }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control">
                        <input class="input" type="password" name="confirm_password" value="{{ form.confirm_password.value }}">
                    </div>
                    {% if form.confirm_password.errors %}
                        <p class="help is-danger">{{ form.confirm_password.errors.0 }}</p>
                    {% endif %}
                </div>

                <div class="notification is-danger">
                    <span class="has-text-weight-bld">{{ form.errors }}</span>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit" name="action">
                            <span class="icon is-small">
                                <i class="material-icons">send</i>
                            </span>
                            <span>Change Password</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
