<!-- templates/registration.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="column is-4 is-offset-4">
    <h2 class="title has-text-centered mb-6">Create an Account</h2>
    <form method="post" class="my-custom-form">
      {% csrf_token %}
      
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" value="{{ form.username.value|default:'' }}" name="username">
        </div>
        {% if form.username.errors %}
          <p class="help is-danger">{{ form.username.errors.0 }}</p>
        {% endif %}
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" value="{{ form.email.value|default:'' }}" name="email">
        </div>
        {% if form.email.errors %}
          <p class="help is-danger">{{ form.email.errors.0 }}</p>
        {% endif %}
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" value="{{ form.password.value|default:'' }}" name="password">
        </div>
        {% if form.password.errors %}
          <p class="help is-danger">{{ form.password.errors.0 }}</p>
        {% endif %}
      </div>

      <div class="field">
        <label class="label">Re-type password</label>
        <div class="control">
          <input class="input" type="password" value="{{ form.confirm_password.value|default:'' }}" name="confirm_password">
        </div>
        {% if form.confirm_password.errors %}
          <p class="help is-danger">{{ form.confirm_password.errors.0 }}</p>
        {% endif %}
      </div>

      <div class="field">
        <p class="help is-danger">{{ form.non_field_errors.0 }}</p>
      </div>

      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary is-fullwidth">Create Account</button>
        </div>
      </div>
    </form>
  </div>
</div>

<style>
  /* Add your custom styles here */
  .my-custom-form {
    /* Your custom form styles */
    margin-top: 20px;
  }
</style>

{% endblock %}
